body {
  min-height: 321%;
}

:root {
    --scroll-to-top-btn-bg: rgba(1, 1, 1, 0.5);
    --scroll-to-top-btn-hover-bg: rgba(1, 1, 1, 0.75);
    --scroll-to-top-btn-bottom-distance: 50px;
    --scroll-to-top-btn-color: white;
}