body {
  min-height: 200%;
}

#scroll-to-top {
  position: fixed;
  pointer-events: none;
  bottom: var(--scroll-to-top-margin-bottom);
  right: var(--scroll-to-top-margin-right);
  width: var(--scroll-to-top-size);
  height: var(--scroll-to-top-size);
  background-color: var(--scroll-to-top-bg-color);
  color: var(--scroll-to-top-color);
  border-radius: var(--scroll-to-top-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition:
    background-color 0.2s ease-in-out,
    bottom 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

#scroll-to-top:hover {
  background-color: var(--scroll-to-top-hover-bg-color);
  color: var(--scroll-to-top-hover-color);
  opacity: var(--scroll-to-top-hover-opacity);
  bottom: var(--scroll-to-top-hover-maring-bottom);
}



#scroll-to-top.visible {
  opacity: var(--scroll-to-top-opacity);
  pointer-events: auto;
}